.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    font-family: "Anonymous Pro", monospace!important;
    position: sticky;
    width: 90vw;
}

.nav-links {
    color:black;
    font-weight: 200;
    display: flex;
    list-style: none;
    gap: 100px;
    font-size: 30px;
    cursor: pointer;
    
}
.navbar ul {
    display: flex;
    justify-content: center; /* Center-align the navbar items */
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.navbar li {
margin: 0 20px;
}

.navbar a {
text-decoration: none;
color: black;
font-size: 18px;
}

.nav-links a:hover {
color: grey; /* Change color when hovered */
}

img {
    box-shadow: none;
}